body{
    background-color:#0A2647;
}
.banner{
    background-image: url(img/cool-background.png);
    height: 30vh;
    position: relative;
}

.img-perfil{
    border-radius: 70px;
}

.card{
    margin: 10px;
    width: 20vw;
    height: 35vh;
    opacity: 50%;
}
.card:hover{
    opacity: 100%;
    transition: 1s;
}
.contenedor{
    margin: 7px;
    padding: 10px;
    background-color: #205295;
    border-radius: 20px;
}